.card {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        -ms-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
}
