.song-card {
    padding: 10px;
    border-radius: 10px;

    &.active {
        border-color: #A6D2A5;
    }
}

.song-card-image {
    display: block;
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        cursor: pointer;
    }
}

.song-card-user {
    display: block;
    width: 100%;
}

.song-card-user-image {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 100%;
    float: left;
}

.song-card-details {
    position: relative;
}

.song-card-user-username {
    display: block;
    margin-right: 30px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.song-card-title {
    display: block;
    color: #222;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.song-card-hearts {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
  float: right;
  margin-left: 10px;
  i{    margin-right: 2px;  }
}
.song-card-plays {
  display: inline-block;
  float: right;
  font-size: 10px;
  opacity: 0.8;
  i{    margin-right: 2px;  }
}