body {
    color: #222;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
    background-color: #f4f4f4;
    overflow-y: scroll;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fullWidth{
    width:100%;
}
.fullHeight{
    height:100%;
}
